{{> page/nav}}
{{> messages}}
{{> page/titleBanner}}

<div class="row">
    <div class="col-sm-2 svgSetter ">
    </div>
    <div class="col-sm-8 jumbotron text-center">
        <p class="lead text">
            As the largest university volleyball club in the country, we strive to ensure that we provide the very best
            university club sport experience available. Whether you are looking for a highly driven and competitive
            environment, or a more casual social activity, we believe that the University of Bristol Volleyball Club can
            meet your needs.
        </p>
        <p class="lead text">
            Our dedicated and passionate committee work hard to ensure that the principles of inclusiveness, equality
            and
            friendliness are maintained through all levels of the club. This manifests itself in fielding squads over a
            wide
            range of skill levels and weekly socials that encourage and prioritise both close inter-team bonding and
            extensive club-mingling.
        </p>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            First Teams
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show lead" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="lead text">
                            Our first teams play in some of the highest BUCS leagues available, as well as placing a
                            team in
                            the
                            NVL, and
                            have a dedicated experienced coach to drive and guide them to success. We also boast Men's
                            and
                            Women's Bs teams,
                            as well as a Men's Cs team, who all play in the BUCS leagues. Our squad structure allows for
                            the
                            fluid
                            progression of players who show potential as we are constantly coaching beginners to
                            volleyball
                            into
                            effective
                            players of the game. With this in mind, we also field a team in the local BDVA league with
                            the
                            aim
                            of allowing
                            new players to gain game experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed lead text" type="button"
                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Development Squad
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="lead text">
                            A large part of our club ethos is encapsulated by our Development squad. This is a
                            beginner's
                            team for those who
                            are new to the game, want to try out a new sport, do not want to commit too much of their
                            time
                            or enjoy the club
                            purely for the social element. However, the name of the squad fundamentally describes its
                            purpose. It exists to
                            allow the development of volleyball skills in a relaxed environment and to serve as a
                            stepping
                            stone for those
                            who wish to become part of our competitive teams. Coached by an enthusiastic core of more
                            experienced players,
                            it is a great way to both make friends and begin to progress through the club. Over the
                            years we
                            have had many A
                            squad members who originated within the Development squad, and this is a testament to the
                            clubs
                            inclusive and
                            development driven ideology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed lead text" type="button"
                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            Socials
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="lead text">
                            We have a heavy focus on ensuring that all members enjoy their time at university, and we
                            cater
                            for this with weekly socials. These see our members challenged to create fancy dress to fit
                            a
                            variety of creative themes, sing terribly at karaoke nights or compete in incredible
                            scavenger
                            hunts. On top of this, we organise many non-drinking events such as team meals after games,
                            encouraging support at games, Come Dine With Mes, BBQs and outside volleyball sessions
                            (although
                            these last two are usually confined to the summer season only, for obvious reasons). There
                            are
                            also three university wide socials through the year that we attend, SCORE, and a special
                            Christmas formal that allow us all to pretend to be civilised for one night of the year.
                        </p>
                        <p class="lead text">
                            We also offer plenty of non-competitive volleyball throughout the year. This can come in the
                            form of fun club-wide tournaments such as the Christmas fancy dress and End of Year
                            tournaments.
                            We participate in the annual charity event Ignit10n, which sees us playing a 10 hour
                            continuous
                            outdoor game of volleyball in the cold for local hospitals. Finally, but by no means the
                            least,
                            we also organise an annual volleyball tour to somewhere with a beach to enjoy the sun, good
                            company and a bit more beloved volleyball.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 svgHitter"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/contact-us">
            <button type="button" class="btn btn-danger btn-lg btn-block red_button">JOIN</button>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/committee">
            <button type="button" class="btn btn-danger btn-lg btn-block red_button">COMMITTEE</button>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/squads">
            <button type="button" class="btn btn-danger btn-lg btn-block red_button">SQUADS</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a>
            <button type="button" class="btn btn-danger btn-lg btn-block red_button">EQUALITY STATEMENT</button>
        </a>
    </div>
    <div class="col-md-4">
        <a>
            <button type="button" class="btn btn-danger btn-lg btn-block red_button">SUSTAINABILITY STATEMENT</button>
        </a>
    </div>
    <div class="col-md-4">
        <a>
            <button type="button" class="btn btn-danger btn-lg btn-block red_button">CLUB CONSTITUTION</button>
        </a>
    </div>
</div>





{{> page/social-links}}