{{> page/nav}}

<div class="jumbotron jumbotron-fluid" style="background-color: #c82433ff; color:white;">
    <div class="container" style = "padding-left: 10%; padding-right: 10%;">
        <h1 class = "title">Calender</h1>
        <hr class="my-4"></hr>
        <p class="lead" >We are a very busy club competing in many competitions, so sometimes it can be hard keeping up with what we are doing! Here you can access the times and locations of our games, events, and socials!</p>
    </div>
</div>

<div class="row" style="padding-top: 40px;padding-bottom: 40px">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <iframe src="https://calendar.google.com/calendar/embed?src=i55kt7vuq73u1li6jh7bd3md8o%40group.calendar.google.com&ctz=Europe%2FLondon" style="border: 0"width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-sm-2">
    </div>
</div>    
{{> page/social-links}}
