{{> page/nav}}
    <div class="jumbotron text-center">
        <h1 class="title">Committee</h1>
    </div> 

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4"> 
                <div class="container-fluid">
                        <img src="images/commitee/davide.jpg" class="img-responsive" alt="Responsive image"></img>   
                </div>
            </div>
            <div class="col-sm-8"> 
                <h1>Club Captain - Davide Bernardi</h1>
                <h2>Computer Science Conv. Masters</h2>
                <p>
                        Perhaps the most enthusiastic man in the club, it is our great pleasure to introduce Davide as this year’s Club Captain. No one has worked harder this summer to ensure a smooth year ahead (trust us, he never stops messaging about a new volleyball related idea) and his Italian roots allow him to communicate his passion with expertly crafted gestures. Davide is a perfect being molded into a human body, with his only flaw being his ability to get too hyped up during games.
                </p>
                <p>
                        It is Davide's job this year to oversee the entire running of the club and you'll never not catch him talking about the volleyball club. He is a master of delegation, so if you want to know something, he should be able to point you in the right direction.
                </p>
                <p class="lead">
                    <a href = "https://www.facebook.com/davide.bernardi.9">Contact me</a>
                </p>
            </div>
        </div>
    </div> 

    <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4"> 
                    <div class="container-fluid">
                            <img src="images/commitee/anita.png" class="img-responsive" alt="Responsive image"></img>   
                    </div>
                </div>
                <div class="col-sm-8"> 
                    <h1>Vice Club Captain - Anita Nonev</h1>
                    <h2>4th year Civil Engineer</h2>
                    <p>
                            This year’s Vice Club Captain is the charming Anita. She has masterfully combined the loudness of an angry Bulgarian with the loudness of an angry Londoner and can handle herself both on and off the court (seriously, don’t try and mess with her on either). She recently learnt to drive over summer and is looking to use her newfound skills to steer the club to success this year.                     </p>
                    <p>
                            It is her job to make sure that Davide has help with everything he requires and to make sure that he doesn't get too over-excited about anything. If he doesn't know something, she should.                    </p>
                    <p class="lead">
                        <a href = "https://www.facebook.com/an4yy">Contact me</a>
                    </p>
                </div>
            </div>
    </div>

    <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4"> 
                    <div class="container-fluid">
                            <img src="images/commitee/dan.jpg" class="img-responsive" alt="Responsive image"></img>   
                    </div>
                </div>
                <div class="col-sm-8"> 
                    <h1>Men's A Captain - Daniel Nickalls</h1>
                    <h2>3rd year Engineer</h2>
                    <p>
                        This year, the Men’s A team will be heralded by Dan. Dan firmly believes in leading by example, and so has taken it upon himself to be the only person of a respectable height for a volleyball player in the committee. Hopefully his new role will see him spending more time and effort with the A team of the same gender this year. Perhaps he may even be convinced to attend a social or two. We shall see.                    </p>
                    </p>
                    <p>
                            Dan is responsible for anything and everything Men's As, and should be the first point of contact for those in that squad if they have any questions to do with day to day running of the team.
                    </p>
                    <p class="lead">
                        <a href = "https://www.facebook.com/daniel.nickalls.7">Contact me</a>
                    </p>
                </div>
            </div>
    </div>
{{> page/social-links}}