{{> page/nav}}
<div class="container-fluid" style="padding-left: 10%; padding-right: 10%; padding-top: 1%; padding-bottom: 3%">
    <img src="images/hall-of-fame/hallOfFame.png" class="img-responsive" alt="Responsive image"></img>
</div>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container">
        <div class="row">
            <nav class="col-sm-3" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked flex-column">
                    <li><a href="#section1">Robert Pennifold</a></li>
                    <li><a href="#section2">Celestine Weegenaar</a></li>
                    <li><a href="#section3">John House</a></li>
                    <li><a href="#section4">Michael Wilsher</a></li>
                </ul>
            </nav>
            <div class="col-sm-9">
                <div id="section1">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="container-fluid">
                                    <img src="images/hall-of-fame/robert-pennifold.jpg" class="img-responsive"
                                        alt="Responsive image"></img>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h1>Robert Pennifold</h1>
                                <p>
                                    Known as: Rob, Grandad
                                </p>
                                <p>
                                    Time Active: 2008 - 2016
                                </p>
                                <p>
                                    Position: Outside Hitter/Setter
                                </p>
                                <p>
                                    Bio: Rumoured to have been at the club since the dawn of time itself, Rob was
                                    arguably one of the greatest leaders to pass through its ranks. Taking up the
                                    position of Club Captain in 2013, Rob oversaw substantial growth within the club,
                                    starting the 2nd teams, a move which helped triple membership figures. On top of
                                    this Rob was witness to one of the best seasons in 2014/15 when both 1st teams won
                                    their respective leagues, a success that he played a key role in for the Men’s 1sts
                                    as starting outside hitter. A keen attendee of socials, Rob also displayed a
                                    remarkable knowledge of cheesy pop music, an attribute that remained firmly on
                                    display at every visit to Lizard Lounge. Rob’s energy and enthusiasm for Volleyball
                                    was unprecedented, and he can take full responsibility for moulding the University
                                    of Bristol Volleyball Club into the undoubted powerhouse it is today. It will take
                                    one hell of an individual to surpass his achievements as Club Captain.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="section2">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="container-fluid">
                                    <img src="images/hall-of-fame/celestine-weegenaar.jpg" class="img-responsive"
                                        alt="Responsive image"></img>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h1>Celestine Weegenaar</h1>
                                <p>
                                    Known as: Celly
                                </p>
                                <p>
                                    Time Active: 2008 - 2015
                                </p>
                                <p>
                                    Position: Outside Hitter/Middle/Opposite
                                </p>
                                <p>
                                    Bio: Almost as permanent a fixture in the Volleyball club as the sport itself, Celly
                                    was one of the most proactive club members to grace the halls of SEH. Playing pretty
                                    much every position on court with inevitable success, Celly was a key member of the
                                    Ladies 1sts for the entirety of her degree. Off-court Celly confirmed her love of
                                    moving around positions by, at varying points across the years, being Social Sec,
                                    Ladies Captain, HEVO Officer and now Alumni Sec. Celly was also a keen advocate of
                                    the Volleyball socials, regularly tearing up the dancefloor with her
                                    pre-choreographed routines. Celly worked hard to be the friendly face for many
                                    freshers and her enthusiasm for all aspects of the club will remain in the memories
                                    of the club for a long time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="section3">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="container-fluid">
                                    <img src="images/hall-of-fame/john-house.jpg" class="img-responsive"
                                        alt="Responsive image"></img>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h1>John House</h1>
                                <p>
                                    Known as: The John House
                                </p>
                                <p>
                                    Time Active: 2012 - 2018
                                </p>
                                <p>
                                    Position: Middle/Opposite
                                </p>
                                <p>
                                    Bio: Taking over as Club Captain from Rob Pennifold was no easy task and finding
                                    someone who even came close to sharing the same level of dedication and excitement
                                    towards the sport was always going to be tough. Fortunately John did this with ease.
                                    The amount of time this man spent in the hallowed sports hall will never be
                                    surpassed by another human being. Whether he was coaching a complete beginner or
                                    competing against the best players in the country, he put in the exact same amount
                                    of effort, and loved every minute of it.
                                </p>
                                <p>
                                    After finishing his degree, he then did a masters, then not wanting to leave took up
                                    a two year role as the Sport and Student Development Officer. Here he applied his
                                    knowledge of being a club captain to the wider sporting community and also did an
                                    incredible job at this. His legend will live on with the 10 foot banner of him up in
                                    the sports hall and the everlasting #WeAreBristol hashtag.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="section4">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="container-fluid">
                                    <img src="images/hall-of-fame/michael-wilsher.jpg" class="img-responsive"
                                        alt="Responsive image"></img>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h1>Michael Wilsher</h1>
                                <p>
                                    Known as: Big Mike, Michaels, Big Value
                                </p>
                                <p>
                                    Time Active: 2012-2020
                                </p>
                                <p>
                                    Position: Middle/Opposite/One-time Libero
                                </p>
                                <p>
                                    Bio: As the tallest and most northern player to grace the Bristol volleyball scene
                                    since records began (circa 2012) Michael was a permanent and easily findable fixture
                                    of the club for 8 years. The second half of the notorious volleyball double act of
                                    himself and other hall of fame member John House, holding up the kind of volleyball
                                    and height based relationship that put Brangelina to shame, Michael was one of the
                                    most iconic and loveable members of the club for almost a decade.
                                </p>
                                <p>
                                    Having made the transfer from football early on following a disastrous debut, he
                                    quickly settled into the club taking on roles as treasurer, men’s captain, coach and
                                    indeed club captain for two glorious years, steering the great ship to previously
                                    unknown heights of success. Known colloquially as ‘Big Mike’ it was only 4 years
                                    into his career that the club discovered he didn’t like the nickname, instead
                                    returning to his given name (and loud formal on court call) of Michael, a testament
                                    to his unassuming and apparently adorable personality. A formidable middle and later
                                    opposite for the 1st team, Michaels enormous dustbin lid hands (great for blocking
                                    and allowing him to set with such poise and grace) and love of the three metre line
                                    tormented every opposition, a feat made all the more impressive by him appearing to
                                    perform in a pair of school shoes from 2006.
                                </p>
                                <p>
                                    The club truly owes Michael a great debt and it is testament to his hard work and
                                    infectious enthusiasm for the sport that the club continued to grow under his
                                    tutelage, becoming the powerhouse it is today. Michael Wilsher, the loveable
                                    northern rogue, deserves his place as one of the greatest individuals the club has
                                    ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
{{> page/social-links}}