{{> page/nav}}
{{> messages}}

<section class="img-section">
    <div class="homeImage">
        <img src="images/home/VolleyballImage2.jpg" alt="Home Image">
        <a class="icon">
            <i class="fa fa-angle-down arrow" onclick="scrollDown()"></i>
        </a>
    </div>
</section>

<div class="svgBall">
    <div id="intro" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 id="home-title" class="title">UoB VOLLEYBALL</h1>
            <hr class="my-4"></hr>
            <p class="lead text">We are a friendly club open to any student at the University of Bristol. Whether you are
                a seasoned pro or a complete beginner, you will be able to join the club and play volleyball at your
                level.</p>

            <p class="lead text">
                We also host a number of unforgettable socials each term giving you a chance to get to know your
                team members as well as everyone else in the club.
            </p>
            <p class="lead">
                <a class="link" href="/about-the-club">Learn more</a>
            </p>
        </div>
    </div>

    <div class="video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4T4FMWl-8ZM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <a href="/about-the-club">
                <button type="button" class="btn btn-light btn-lg btn-block white_button">THE CLUB</button>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/training">
                <button type="button" class="btn btn-light btn-lg btn-block white_button">TRAINING</button>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/squads">
                <button type="button" class="btn btn-light btn-lg btn-block white_button">SQUADS</button>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/contact-us">
                <button type="button" class="btn btn-light btn-lg btn-block white_button">CONTACT US</button>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/calender">
                <button type="button" class="btn btn-light btn-lg btn-block white_button">CALENDER</button>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/shop">
                <button type="button" class="btn btn-light btn-lg btn-block white_button">SHOP</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div id="quote-div"class="jumbotron jumbotron-fluid quote">
            <div class="container quote">
                <p class="lead centre-text text">
                    Quote of the day
                </p>
                <p id=quote class="text"></p>
            </div>
            <script src="javascripts/quotes.js"></script>
        </div>
    </div>
</div>

{{> page/social-links}}
<script src="javascripts/animations/home-animations.js"></script>