{{> page/nav}}
<div class="container-fluid" style="padding: 0px">
    <img src="images/home/Volleyball Image2.jpg" class="img-responsive" alt="Responsive image"></img>   
    <div class="overlay">
        <a class="icon">
            <i class="fa fa-angle-down" onclick="scrollDown()" style = "color: white"></i>
        </a>
    </div>
</div>

    <div style=" background-image: url(images/svg/volleyballBackground.svg); background-size: 100%;">
      <div style = "padding-left: 20%; padding-right: 20%; background-color: transparent;">
      <div id = "intro" class="jumbotron jumbotron-fluid" style="background-color: transparent">
          <div class="container" style="padding-bottom: 0px">
            <h1 class = "title" style="padding-top: 60px">UoB VOLLEYBALL</h1>
            <hr class="my-4"></hr>
            <p class="lead" >We are a friendly club open to any student at the University of Bristol. Whether you are a seasoned pro or a complete beginner, you will be able to join the club and play volleyball at your level.</p>
            
            <p class="lead">
              We also host a number of unforgettable socials each term giving you a chance to get to know your team members as well as everyone else in the club.
            </p>
            <p class="lead">
              <a href = "#" style = "color: red;">Learn more</a>
            </p>
          </div>
          </div>
        </div>

      <div class="row" style = "padding: 20px; padding-top: 0">
          <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-lg btn-block red_button"><a href = "howToJoin.html" style = "color: white">JOIN</a></button>
          </div>
          <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-lg btn-block red_button">SQUADS</button>
          </div>
          <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-lg btn-block red_button">SHOP</button>
          </div>
          <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-lg btn-block red_button"><a href = "training.html" style = "color: white">TRAINING</a></button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-danger btn-lg btn-block red_button"><a href = "calender.html" style = "color: white">CALENDER</a></button>
          </div>
          <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-lg btn-block red_button">LEAGUE TABLES</button>
          </div>
      </div>
  </div>
{{> page/social-links}}