{{> page/nav}}
<div class="jumbotron text-center" style="background-color: #c82433ff; color:white">
    <h1 class="title">Men's B Team</h1>
</div>

<div class="container-fluid" style="padding-left: 10%; padding-right: 10%">
    <img src="images/squads/MB.jpg" class="img-responsive" alt="Responsive image"></img>
</div>

<div style="padding-left: 10%; padding-right: 10%">
    <p>
        The Men’s B Squad has gone from being the new kid in the room to the club's most successful team in the space of three years. The “Men’s Bs” finished top of Western 2B with a perfect record of 8 victories and no losses. In their quest for volleyball domination, only two sets were dropped against the eventual winner of the Conference Cup (Men’s B was defeated in the semi-finals this year). Next year, the squad will play in Western 1A alongside the Men’s A squad, no longer will the Bs be overshadowed by their older brother. Men's Bs also participates in Varsity: a university-wide competition against the University of West England.
    </p>
    <p>
        The team is for players who want to play volleyball at a competitive level and improve their game to eventually join the A Squad! The team is also very involved in the social aspect of being in a University club. If there’s anything the B team likes to do after a win (or a loss, but that only happened once so we’re not quite used to it) is to dress up and go out with the rest of the club. 
    </p>
    <p>
        The team trains three times every two weeks, with S&C sessions once a week, and all players are expected to attend these sessions. The aim for the team is to maintain their newly acquired position in 1A! All in all this is an incredible way to make new friends, have a great time and to get that summer bod ready for the Portugal 2020 (the club’s annual tour!). 
    </p>
    <p>
        Antoine “Captoine” Macquet, 2018/2019 Men’s B Squad Captain 
    </p>

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Other Squads
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/womens-A">Women's A</a>
            <a class="dropdown-item" href="/mens-A">Men's A</a>
            <a class="dropdown-item" href="/womens-B">Women's B</a>
        </div>
    </div>

</div>

{{> page/social-links}}