<<<<<<< HEAD
{{> page/nav}}
<div class="jumbotron text-center" style="background-color: #c82433ff; color:white">
=======
{{> page/nav user=user}}
<div class="jumbotron text-center">
>>>>>>> ed7dcb7f8e029d009cd296c6e580ab3cb689bc1a
    <h1 class="title">Shop</h1>
</div> 
<p>products</p>

<section id="messages">
    {{#if error_message}}
        <div> {{error_message}} </div>
    {{/if }}
    {{#if success_message}}
        <div> {{success_message}} </div>
    {{/if }}
</section>
{{> page/social-links}}