{{> page/nav user=user}}
{{> messages}}
{{> page/titleBanner}}

<p>products</p>

<section id="messages">
    {{#if error_message}}
        <div> {{error_message}} </div>
    {{/if }}
    {{#if success_message}}
        <div> {{success_message}} </div>
    {{/if }}
</section>
{{> page/social-links}}