{{> page/nav}}
<div class="jumbotron text-center" style="background-color: #c82433ff; color:white">
    <h1 class="title">Squads</h1>
</div>

<div style="padding-left: 10%; padding-right: 10%">
    <div class="row" style="padding-bottom: 20px">
        <div class="col-sm-6">
            <div class="card" style="width: 100%;">
                <img src="images/squads/MA.png" class="card-img-top" style = "height: calc(100vw * 0.28)" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px">Men's A Team</h5>
                    <a href="/mens-A" class="btn btn-danger">View Team</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 100%;">
                <img src="images/squads/WA.jpg" class="card-img-top" style = "height: calc(100vw * 0.28)" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px">Women's A Team</h5>
                    <a href="/womens-A" class="btn btn-danger">View Team</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 5%">
        <div class="col-sm-6">
            <div class="card" style="width: 100%;">
                <img src="images/squads/MB.jpg" class="card-img-top"  style = "height: calc(100vw * 0.28)" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px">Men's B Team</h5>
                    <a href="/mens-B" class="btn btn-danger">View Team</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 100%;">
                <img src="images/squads/WB.png" class="card-img-top" style = "height: calc(100vw * 0.28)" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px">Women's B Team</h5>
                    <a href="/womens-B" class="btn btn-danger">View Team</a>
                </div>
            </div>
        </div>
    </div>
</div>


{{> page/social-links}}