{{> page/nav}}
{{> messages}}

{{> page/titleBanner}}

    <nav style ="padding-left: 10%; padding-right: 10%">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active tabs" id="nav-times-tab" data-toggle="tab" href="#nav-times" role="tab" aria-controls="nav-times" aria-selected="true">Times</a>
          <a class="nav-item nav-link tabs" id="nav-locations-tab" data-toggle="tab" href="#nav-locations" role="tab" aria-controls="nav-locations" aria-selected="false">Locations</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent" style ="padding-left: 10%; padding-right: 10%">
        <div class="tab-pane fade show active in" id="nav-times" role="tabpanel" aria-labelledby="nav-times-tab">
            <div class="jumbotron text-center">
                <h1>Times</h1>
                <hr class="my-4"></hr>
                <p class="lead">With all volleyball sessions, noted on this page as 'Hall Time', players are expected to turn up at least 15 minutes earlier to warm up so that the training can begin at the times specified. NOTE: This does not apply to the Development squad sessions or the 7:00am sessions, as the SEH only opens at 7:00am.</p>
            </div> 
            <div class="row">
                <div class="col-sm-6">
                    <div class="jumbotron text-center">
                        <h1>Men's A</h1>
                        <hr class="my-4"></hr>
                        <p class="lead">Hall time - Monday 7:00-8:30am (SEH), Friday 7:30-9:00pm (SEH)</p>
                        <p>S&C - Tuesday 8:00-9:00pm (Coombe Dingle OWL)</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="jumbotron text-center">
                        <h1>Women's A</h1>
                        <hr class="my-4"></hr>
                        <p class="lead">Hall time - Thursday 6:00-7:30pm (SEH), Saturday 2:00-3:30pm (Cotham School)</p>
                        <p>S&C - Tuesday 8:00-9:00pm (Coombe Dingle OWL)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="jumbotron text-center">
                        <h1>Men's B</h1>
                        <hr class="my-4"></hr>
                        <p class="lead">Hall time - Monday 7:00-8:30am (SEH), Friday 6:30-7:30pm (SEH)</p>
                        <p>S&C - Tuesday 8:00-9:00pm (Coombe Dingle OWL)</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="jumbotron text-center">
                        <h1>Women's B</h1>
                        <hr class="my-4"></hr>
                        <p class="lead">Hall time - Thursday 6:00-7:30pm (SEH), Saturday 3:30-5:00pm (Cotham School)</p>
                        <p>S&C - Tuesday 8:00-9:00pm (Coombe Dingle OWL)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-locations" role="tabpanel" aria-labelledby="nav-locations-tab">
            <div class="jumbotron text-center">
                <h1>Locations</h1>
            </div> 
        
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <p class="lead">Regular Training</p>
                <hr class="my-4"></hr>
                <p>Most of our volleyball sessions and all of our home games take place at the University of Bristol's Centre for Sports Exercise and Health, more commonly referred to as the SEH. The sports hall is on the third floor of the building (above the univeristy gym) and accommodates two full sized volleyball courts, as well as ample viewing room on the balcony to support our teams while they play. This facility can be conveniently found in the heart of the University campus on Tyndall Avenue.</p>
                <p>Some additional training sessions we provide will take place at Cotham School, which is just up the road from the SEH. Here can be found one volleyball court, and is also in an easily accessible location.</p>
                <hr class="my-4"></hr>
                <div class="row">
                    <div class="col-sm-6">
                      <p>SEH</p>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9943.780727663878!2d-2.6030822!3d51.4591629!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67e96b9fc3f42fb6!2sUniversity%20of%20Bristol%20Indoor%20Sports%20Centre!5e0!3m2!1sen!2suk!4v1584286777702!5m2!1sen!2suk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="col-sm-6">
                      <p>Cotham School</p>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.702378456665!2d-2.6043014843449175!3d51.46362062172437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718dddd86b61cb%3A0xfef4171c60aa83d0!2sCotham%20School!5e0!3m2!1sen!2suk!4v1584287398493!5m2!1sen!2suk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
              </div>
             </div>
        
             <div class="jumbotron jumbotron-fluid">
               <div class="container">
                  <p class="lead">Strength and Conditioning</p>
                  <hr class="my-4"></hr>
                  <p>Our Strength and Conditioning trainings take place at the large off campus sports complex that many of the University of Bristol's sports teams call home: Coombe Dingle. Located on the other side of the Downs, Coombe is a short bus ride for those based in the city, or a short walk for those in Stoke Bishop. The committed few will even jog or cycle to strength and conditioning sessions for a warm up</p> 
                  <div style="text-align: center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.2836478976437!2d-2.6329644843440567!3d51.48966211982128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4871927654c2dcff%3A0x2d054c75b7340cf5!2sCoombe%20Dingle%20Sports%20Complex!5e0!3m2!1sen!2suk!4v1584287993113!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
                </div>
              </div>
        </div>
      </div>



{{> page/social-links}}