{{> page/nav}}
{{> messages}}
{{> page/titleBanner}}

<div class="container-fluid" style="padding-left: 10%; padding-right: 10%">
    <img src="images/squads/WB.png" class="img-responsive" alt="Responsive image"></img>
</div>

<div style="padding-left: 10%; padding-right: 10%">
    <p>
        The Women’s B team is a great way to combine playing volleyball at a competitive level, while also maintaining room to greatly improve your skills and the opportunity to move up within the club. Currently competing in the BUCS Western 2B division (and having placed 3rd in the 2018/19 season), the team is coached by experienced, higher level players, giving its members the chance to advance while at the same time playing in a challenging league. They lead three training sessions every two weeks, along with one hour of strength and conditioning per week. The team also competes in the Conference Cup, and in Varsity: a university-wide competition against the University of West England. 
    </p>
    <p>
        Alongside the training, being a part of any team in the Volleyball club is a very social affair, and provides a real sense of community within your team and the whole club. Team meals are quite common, and a nice way to get to know your teammates better off court, and Sports Night on Wednesdays is always a laugh thanks to the club's two social secretaries.
    </p>
    <p>
        Alex Steadman, 2019/20 Women's B Squad Captain
    </p>

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Other Squads
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/mens-A">Men's A</a>
            <a class="dropdown-item" href="/mens-B">Men's B</a>
            <a class="dropdown-item" href="/womens-A">Women's A</a>
        </div>
    </div>

</div>

{{> page/social-links}}