<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top" style="padding: 0px; border-color: white; position: fixed; border-radius: 0px;">

    <div class="collapse navbar-collapse white" id="navbarSupportedContent" style="padding-bottom: 10px">
         <form class="form-inline my-2 my-lg-0">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a> 
                        <img src="images/logos/logo.png" height="50" class="d-inline-block align-top" alt=""></img>
                    </a> 
                </li>
         </form>
        
    </div>

    <div class="collapse navbar-collapse white" id="navbarSupportedContent" style="padding-bottom: 10px">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">              
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about-the-club" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    THE CLUB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/about-the-club">ABOUT THE CLUB</a>
                        <a class="dropdown-item" href="/committee">COMMITTEE</a>
                        <a class="dropdown-item" href="/">SQUADS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">FAQS</a>
                        <a class="dropdown-item" href="/">INTRAMURAL</a>
                        <a class="dropdown-item" href="/">TEAM BRISTOL</a>
                        <a class="dropdown-item" href="/">LEAGUE TABLES</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/training">TRAINING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">JOIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">CALENDER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">HALL OF FAME</a>
                </li>
                {{#if user}} <!-- user parameter sent in from pages if user is logged in -->
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login/Register</a>
                </li>
                {{/if}}
            </ul>
        </form>
    </div>
</nav>
<div style="padding-top: 70px"><p> </p></div>