<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top" style="padding: 0px; border-color: white; position: fixed; border-radius: 0px;">

    <div class="collapse navbar-collapse white" id="navbarSupportedContent" style="padding-bottom: 10px">
         <form class="form-inline my-2 my-lg-0">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a> 
                        <img src="images/logos/logo.png" height="50" class="d-inline-block align-top" alt=""></img>
                    </a> 
                </li>
         </form>
        
    </div>

    <div class="collapse navbar-collapse white" id="navbarSupportedContent" style="padding-bottom: 10px">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">              
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    THE CLUB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="aboutClub.html">About the Club</a>
                        <a class="dropdown-item" href="#">Squads</a>
                        <a class="dropdown-item" href="committee.html">Committee</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">FAQs</a>
                        <a class="dropdown-item" href="#">Intramural</a>
                        <a class="dropdown-item" href="#">Team Bristol</a>
                        <a class="dropdown-item" href="#">League Tables</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="training.html">TRAINING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="howToJoin.html">JOIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactUs.html">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calender.html">CALENDER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hallOfFame.html">HALL OF FAME</a>
                </li>
                {{#if user}} <!-- user parameter sent in from pages if user is logged in -->
                <p>Logged in!</p>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login/Register</a>
                </li>
                {{/if}}
            </ul>
        </form>
    </div>
</nav>
<div style="padding-top: 70px"><p> </p></div>