<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-top">

    <div id="navbarSupportedContent" class="collapse navbar-collapse white nav-logo">
         <form class="form-inline my-2 my-lg-0">
             <ul class="navbar-nav mr-auto">
                <li id="nav-logo" class="nav-item">
                    <a href="/"> 
                        <img src="images/logos/logo.png" height="50" class="d-inline-block align-top" alt=""></img>
                    </a> 
                </li>
         </form>
        
    </div>

    <div class="collapse navbar-collapse white" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">              
            <ul class="navbar-nav mr-auto">
                <li id="nav-home" class="nav-item active">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li id="nav-club" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about-the-club" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    THE CLUB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/about-the-club">ABOUT THE CLUB</a>
                        <a class="dropdown-item" href="/committee">COMMITTEE</a>
                        {{!-- <a class="dropdown-item" href="/">SQUADS</a> --}}
                        <a class="dropdown-item" href="/gallery">GALLERY</a>
                        {{!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">FAQS</a>
                        <a class="dropdown-item" href="/">INTRAMURAL</a>
                        <a class="dropdown-item" href="/">TEAM BRISTOL</a>
                        <a class="dropdown-item" href="/">LEAGUE TABLES</a> --}}
                    </div>
                </li>
                <li id="nav-training" class="nav-item">
                    <a class="nav-link" href="/training">TRAINING</a>
                </li>
                 <li id="nav-squads" class="nav-item">
                    <a class="nav-link" href="/squads">SQUADS</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="/">JOIN</a>
                </li> --}}
                <li id="nav-contact" class="nav-item">
                    <a class="nav-link" href="/contact-us">CONTACT US</a>
                </li>
                <li id="nav-calender" class="nav-item">
                    <a class="nav-link" href="/calender">CALENDER</a>
                </li>
                <li id="nav-shop" class="nav-item">
                    <a class="nav-link" href="/shop">SHOP</a>
                </li>
                <li id="nav-hall-of-fame" class="nav-item">
                    <a class="nav-link" href="/hall-of-fame">HALL OF FAME</a>
                </li>
                {{#if admin}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/admin" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ADMIN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="font-weight:bold; color:#7f7f7f" href="/admin">ADD PRODUCTS</a>
                        <a class="dropdown-item" style="font-weight:bold; color:#7f7f7f" href="/users">SEE USERS</a>
                        {{!-- <a class="dropdown-item" href="/">SQUADS</a> --}}
                        <a class="dropdown-item" style="font-weight:bold; color:#7f7f7f" href="/orders">SEE ORDERS</a>
                        {{!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">FAQS</a>
                        <a class="dropdown-item" href="/">INTRAMURAL</a>
                        <a class="dropdown-item" href="/">TEAM BRISTOL</a>
                        <a class="dropdown-item" href="/">LEAGUE TABLES</a> --}}
                    </div>
                </li>
                {{/if}}
                {{#if user}} <!-- user parameter sent in from pages if user is logged in -->
                <li id="nav-logout" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li id="nav-login" class="nav-item">
                    <a class="nav-link" href="/login">LOGIN/REGISTER</a>
                </li>
                {{/if}}
            </ul>
        </form>
    </div>
</nav>
<div class="underNav"><p> </p></div>
<script src="javascripts/animations/nav-animations.js"></script>