<nav class="navbar navbar-light socialsNav">
    <form class="form-inline">
        <button class="btn socialsButton" type = "button"><a href="https://www.facebook.com/UoBvolleyballclub"><i class="fa fa-facebook socialsButton"></i></a></button>
        <button class="btn socialsButton" type = "button"><a href="https://www.instagram.com/uobvolleyball/"><i class="fa fa-instagram socialsButton"></i></a></button>
        <button class="btn socialsButton" type = "button"><a href="https://twitter.com/uobvolleyball"><i class="fa fa-twitter socialsButton"></i></a></button>
        <button class="btn socialsButton" type = "button"><a href="https://www.youtube.com/channel/UCH9R8BUpGsMqHVsIj7O1_Cg"><i class="fa fa-youtube socialsButton"></i></a></button>
    </form>

</nav>