<nav class="navbar navbar-light white" style="background-color: #0d0d0d; margin:0%; border-radius:0px;">
    <form class="form-inline">
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://www.facebook.com/UoBvolleyballclub"><i class="fa fa-facebook" style="color:white"></i></a></button>
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://www.instagram.com/uobvolleyball/"><i class="fa fa-instagram" style="color:white"></i></a></button>
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://twitter.com/uobvolleyball"><i class="fa fa-twitter" style="color:white"></i></a></button>
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://www.youtube.com/channel/UCH9R8BUpGsMqHVsIj7O1_Cg"><i class="fa fa-youtube" style="color:white"></i></a></button>
    </form>

</nav>