<nav class="navbar navbar-light white" style="background-color: white">
    <form class="form-inline white">
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://www.facebook.com/UoBvolleyballclub"><i class="fa fa-facebook" style="color:rgb(33, 37, 41)"></i></a></button>
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://www.instagram.com/uobvolleyball/"><i class="fa fa-instagram" style="color:rgb(33, 37, 41)"></i></a></button>
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://twitter.com/uobvolleyball"><i class="fa fa-twitter" style="color:rgb(33, 37, 41)"></i></a></button>
        <button class="btn" type = "button" style="font-size: 40px"><a href="https://www.youtube.com/channel/UCH9R8BUpGsMqHVsIj7O1_Cg"><i class="fa fa-youtube" style="color:rgb(33, 37, 41)"></i></a></button>
    </form>

</nav>