body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  position: relative;
}

a {
  /* color: #00B7FF; */
}

.big {
  font-size: 30px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar-top {
  position: fixed;
  width: 100%;
  z-index: 2;
  border-radius: 0px;
  background-color: white;
  border-color: white;
  padding: 0%;
  position: fixed;
}

.nav_title {
  font-size: 25px;
  padding-left: 10px
}

.nav-item {
  font-size: 14px;
  font-family: Helvetica;
  font-weight: bold;
  /* transform: scale(.9,1); */
  padding: 5px;
}

.dropdown-item {
  font-size: 14px;
  font-weight:bold;
  color:#7f7f7f
}

.red_button {
  border-radius: 0px;
  padding: 20px;
  font-family: Helvetica;
  font-weight: bold;
  height: 200px;
  text-align:center; 
  vertical-align:middle;
  font-size: 14px;
  color: white
}

.white_button {
  border-radius: 0px;
  padding: 20px;
  font-family: Helvetica;
  font-weight: bold;
  height: 200px;
  text-align:center; 
  vertical-align:middle;
  font-size: 14px;
  color: #0d0d0d;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
}


/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  font-size: 1000%;
  position: absolute;
  top: 28%;
  left: 50%;
  z-index: 1;
}

.arrow {
  color: white;
  font-size: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 80%;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}

.container-fluid {
  position: relative;
  text-align: center;
  color: white;
}

.title {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
  padding-top:30px;
  padding-left: 20%;
  padding-right: 20%
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.tabs {
  font-family: Helvetica;
  width: 50%;
  font-size: 30px;
  color: #495058;
}

.white {
  background-color: white;
  border-color: white;
  padding-top: 10px;
  padding-bottom: 100px;
}

ul.nav-pills {
  position: sticky;
  top: 100px;
}

div.col-sm-9 div {
  font-size: 28px;
}

@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section4,  {
    margin-left: 150px;
  }
}

.heading {
  font-family: Helvetica;
  font-size: 50px;
}

.list-text {
  font-size: 14px;
  font-family: Helvetica;
  font-weight:bold;
}

.img-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.homeImage {
  width: 100%;
  height: 100%;
}

.homeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.svgBall {
  background-image: url(/images/svg/volleyballBackground.svg); 
  background-size: 100%;
}

#intro {
  padding-left: 10%; 
  padding-right: 10%; 
  background-color: transparent;
  color: white;
}

#home-title {
  padding-top: 80px 
}

.link {
  color: white;
}

.link:hover {
  color: white;
}

.video {
  align-items: center;
  height: calc(100vw * 0.4); 
  padding-left:20%;
  padding-right:20%;
  padding-bottom:5%;
  align-self: center;
}

.row {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 2%;
  width:100%;
  margin: 0%
}

 #quote-div {
  background-color: transparent;
  color: white;
  width:100%;
  padding-bottom: 0px; 
  display:flex;  
  align-items:center;
  text-align: center
}

#titleBanner{
  background-color: #c82433ff;
  color:white;
  border-radius: 0
}

.text{
  font-family: Helvetica;
  font-size: 20px;
}

#navbarSupportedContent{
  padding-bottom: 10px
}

.underNav {
  padding-top: 70px
}

.socialsNav {
  position:absolute;
  background-color: #0d0d0d; 
  margin:0%; 
  border-radius:0px; 
  border-color:#0d0d0d; 
  padding-bottom:10px;
  width: 100%
}

.socialsButton {
  font-size: 40px;
  color:white
}

.socialsButton:hover {
  color:#e2e6ea
}

.svgSetter {
  background-image: url(/images/svg/set.svg);
  background-size: 350%;
}

.svgHitter {
  background-image: url(/images/svg/jump.svg);
  background-size: 250%;
}

.side-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.calender {
  padding-top: 40px;padding-bottom: 40px;border: 0
}

.spyList {
  position: sticky;
  top: 100px;
}

.uobsvg {
  background-image: url(/images/svg/uob.svg);
  background-size: 3%; 
}

.hallImage {
  padding-bottom: 50px
}

.card-image {
  height: calc(100vw * 0.28)
}

.spyList-item {
  background-color:white;
  color: #212529;
  font-weight: 300
}

#login{
  padding-bottom: 19%
}

.list-item {
  background-color: #eaecef;
  padding-top: 10px;
  padding-bottom: 0px;
}

.list-item:hover {
  background-color: lightgray
}

.list {
  padding-bottom: 20%
}

.contact-background{
  background-image: url(/images/elliot.png);
  background-size: 100%;
}

.zoom {
  height: 300px;
  overflow: hidden;
}

.zoom img {
  transform-origin: 50% 65%;
  transition: transform .7s, filter 3s ease-in-out;
}

.zoom:hover img {
  transform: scale(1.2);
}

.card-title.text {
  color: black;
}