{{> page/nav}}
{{> messages}}
{{> page/titleBanner}}

<section id="gallery" class="side-padding text">
    <h2>2019-2020 Season:</h2>
    <div class="gallery-image image1">
        <div><a =href="/"></a></div>
    </div>
    <div class="gallery-image image2">
        <div><a =href="/"></a></div>
    </div>
    <div class="gallery-image image3">
        <div><a =href="/"></a></div>
    </div>
    <div class="gallery-image image4">
        <div><a =href="/"></a></div>
    </div>
    <div class="gallery-image image5">
        <div><a =href="/"></a></div>
    </div>
    <div class="gallery-image image6">
        <div><a =href="/"></a></div>
    </div>
    <div class="gallery-image image7">
        <div><a =href="/"></a></div>
    </div>
    <div class="gallery-image image8">
        <div><a =href="/"></a></div>
    </div>

</section>

<script src="javascripts/gallery.js"></script>
{{> page/social-links}}