{{> page/nav}}
{{> messages}}
{{> page/titleBanner}}



<div class="side-padding">
    <div class="row">
        <div class="col-sm-6">
            <a href="/mens-A">
                <div class="card ">
                    <div class="zoom">
                        <img src="images/squads/MA.png" class="card-img-top card-image" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text">Men's A Team</h5>
                        <a href="/mens-A" class="btn btn-danger text">View Team</a>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/womens-A">
                <div class="card">
                    <div class="zoom">
                        <img src="images/squads/WA.jpg" class="card-img-top card-image" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text">Women's A Team</h5>
                        <a href="/womens-A" class="btn btn-danger text">View Team</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="/mens-B">
                <div class="card">
                    <div class="zoom">
                        <img src="images/squads/MB.jpg" class="card-img-top card-image" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text">Men's B Team</h5>
                        <a href="/mens-B" class="btn btn-danger text">View Team</a>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/womens-B">
                <div class="card">
                    <div class="zoom">
                        <img src="images/squads/WB.png" class="card-img-top card-image" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text">Women's B Team</h5>
                        <a href="/womens-B" class="btn btn-danger text">View Team</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


{{> page/social-links}}